.kanban-container {
  height: 100%;
  padding-bottom: 1rem;
}

.kanban-column {
  background-color: #2e2e4e;
  border-radius: 10px;
  padding: 1rem;
  min-width: 250px;
  max-height: 80vh;
  overflow-y: auto;
}

.kanban-header {
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #3b3b5c;
}

.kanban-dropzone {
  min-height: 50px;
}

.kanban-card {
  background-color: #1e1e2e;
  border-radius: 8px;
  padding: 0.75rem;
  color: white;
  margin-bottom: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: grab;
}
.container-table {
  margin: 10 auto;
  max-width: 1200px;
  padding: 0px;
}
