:host {
  display: block;
  // background-color: #121212;
  color: #fff;
  // padding: 1rem;
}

.badge {
  font-size: 0.75rem;
}
.all-task-btn {
  margin: 10px 10px;
  color: #d598fb;
  background-color: #3f8cff;
  border: none;
  padding: 1rem 1rem;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #357ae8;
  }
}
.container-table {
  margin: 10 auto;
  max-width: 1200px;
  padding: 0px;
}
td > div.position-relative i {
  width: 28px;
  height: 28px;
  font-size: 1.2rem;
}

.indicator-bar {
  display: flex;
  width: 120px;
  height: 30px;
  background-color: #2c2c3e;
  margin: 4px;
}

.segment {
  flex: 1;
  margin: 1px;
}

/* Colors */
.bg-orange       { background-color: #f5b261; }
.bg-lightblue    { background-color: #bde6f6; }
.bg-blue         { background-color: #3478f6; }
.bg-gray         { background-color: #7a7a87; }
.bg-red         { background-color: #dc0808; }

.bg-darkgray     { background-color: #8b8b99; }
.bg-purple       { background-color: #7c6bf5; }
.bg-skyblue      { background-color: #7db7f5; }

.bg-pink         { background-color: #f6c4c4; }
.bg-lightpurple  { background-color: #c1b3ff; }

/* Pill style */
.indicator-pill {
  width: 100px;
  height: 30px;
  background-color: #c4c4c4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 4px;
}

