.custom-tabs {
  background-color: #1e1e2f;
  padding-left: 1rem;

  .nav-link {
    color: #ccc;
    padding: 0.75rem 1rem;
    border: none;
    background: transparent;
    font-weight: 500;
    position: relative;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &.active {
      color: #fff;
      border-bottom: 3px solid #3f8cff;
    }
  }

  .nav-item + .nav-item {
    margin-left: 1rem;
  }
}
.contents {
    background-color: #1e1e2f;
}
.search-btn {
    margin-left: 20px;
    color: #fff;
}
.sub-menu {
    padding-left: 20px;
}